*
!*/

!coord_trans/*
!coord_trans/original/*.dat

!dem_to_hdf5/*.sh
!dem_to_hdf5/*.F
!dem_to_hdf5/*.c

!gen_surf_mesh/*.sh
!gen_surf_mesh/*.c
!gen_surf_mesh/*.cpp

!gsigeo2011_ver2_1_asc/program/gsigeome_asc
!gsigeo2011_ver2_1_asc/program/gsigeo2011_ver2_1.asc

!hdata_to_cdatamdata/*.F
!hdata_to_cdatamdata/*.f
!hdata_to_cdatamdata/*.c
!hdata_to_cdatamdata/*.cpp
!hdata_to_cdatamdata/*.hpp
!hdata_to_cdatamdata/*.sh

!hdf5_to_hdata/*.c
!hdf5_to_hdata/*.cpp
!hdf5_to_hdata/*.sh

!hdf5_to_surf/*.sh
!hdf5_to_surf/*.c
!hdf5_to_surf/*.F90

!hdf5-1.10.7_lib_intel/include/*
!hdf5-1.10.7_lib_intel/lib/*

!jivsm/material.dat

!merge_local_result/*.jl

!metis_lib_intel_64bit/include/*
!metis_lib_intel_64bit/lib/*

!metis-5.1.0_icc_32bit/include/*
!metis-5.1.0_icc_32bit/lib/*

!refiner/src/*.cpp
!refiner/src/*.hpp
!refiner/*.jl
!refiner/Makefile

!src_analysis_pointload/*.F
!src_analysis_pointload/*.F90
!src_analysis_pointload/*.c
!src_analysis_pointload/Makefile

!error_estimator/*.cpp
!error_estimator/*.hpp
!error_estimator/*.c
!error_estimator/*.sh


!work/*.sh

!/.gitignore
!/README.md