*
work/
!*/

!analysis_integrated/src/analysis_pointload/*.F
!analysis_integrated/src/analysis_pointload/*.F90
!analysis_integrated/src/analysis_pointload/*.c
!analysis_integrated/src/analysis_pointload/*.cpp
!analysis_integrated/src/analysis_pointload/*.hpp
!analysis_integrated/src/common/*.c
!analysis_integrated/src/common/*.h
!analysis_integrated/src/error_estimator/*.cpp
!analysis_integrated/src/error_estimator/*.hpp
!analysis_integrated/src/obs_displacement/*.cpp
!analysis_integrated/src/obs_displacement/*.hpp
!analysis_integrated/src/*.cpp
!analysis_integrated/Makefile

!calc_nodal_force/*.sh
!calc_nodal_force/*.c
!calc_nodal_force/*.cpp
!calc_nodal_force/*.hpp
!calc_nodal_force/*.F90

!coord_trans/*
!coord_trans/original/*.dat

!dem_to_hdf5/*.sh
!dem_to_hdf5/*.F
!dem_to_hdf5/*.c

!error_estimator/*.cpp
!error_estimator/*.hpp
!error_estimator/*.c
!error_estimator/*.sh

!gen_surf_mesh/*.sh
!gen_surf_mesh/*.c
!gen_surf_mesh/*.cpp

!gflib_icc/include/*
!gflib_icc/lib/*

!gsigeo2011_ver2_1_asc/program/gsigeome_asc
!gsigeo2011_ver2_1_asc/program/gsigeo2011_ver2_1.asc

!hdata_to_cdatamdata/*.F
!hdata_to_cdatamdata/*.f
!hdata_to_cdatamdata/*.c
!hdata_to_cdatamdata/*.cpp
!hdata_to_cdatamdata/*.hpp
!hdata_to_cdatamdata/*.sh

!hdf5_to_hdata/*.c
!hdf5_to_hdata/*.cpp
!hdf5_to_hdata/*.sh

!hdf5_to_surf/*.sh
!hdf5_to_surf/*.c
!hdf5_to_surf/*.F90

!hdf5-1.10.7_lib_intel/include/*
!hdf5-1.10.7_lib_intel/lib/*

!jivsm/material.dat

!merge_local_result/*.jl

!metis_lib_intel_64bit/include/*
!metis_lib_intel_64bit/lib/*

!metis-5.1.0_icc_32bit/include/*
!metis-5.1.0_icc_32bit/lib/*

!obs_displacement/*.sh
!obs_displacement/*.c
!obs_displacement/*.cpp
!obs_displacement/*.hpp

!parmetis_icc_32bit/include/*
!parmetis_icc_32bit/lib/*

!refiner/src/*.cpp
!refiner/src/*.hpp
!refiner/*.jl
!refiner/Makefile

!refiner_mpi/src/*.cpp
!refiner_mpi/src/*.hpp
!refiner_mpi/*.c
!refiner_mpi/*.h
!refiner_mpi/Makefile
!refiner_mpi/*.jl

!repartition/src/*.cpp
!repartition/src/*.hpp
!repartition/src/*.c
!repartition/src/*.h
!repartition/Makefile

!src_analysis_pointload/*.F
!src_analysis_pointload/*.F90
!src_analysis_pointload/*.c
!src_analysis_pointload/Makefile

!src_analysis_pointload_reduce/*.F
!src_analysis_pointload_reduce/*.F90
!src_analysis_pointload_reduce/*.c
!src_analysis_pointload_reduce/Makefile

!calc_greens_function/main.F90

!work/*.sh
!work/*.ipynb

!/.gitignore
!/README.md
